{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="pe-7s-wallet icon-gradient bg-happy-itmeo"></i>
            </div>
            <div>
                SACCO Dashboard
                <div class="page-title-subheading">
                    Comprehensive overview of your SACCO's key metrics and activities
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
